{{!-- main/final layout --}}

<!DOCTYPE html>

<head>
    <title>Grocery List</title>
    <meta charset="UTF-8">
    {{!-- import jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    {{{body}}}
</body>

</DOCTYPE>