{{!-- main/final layout --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grocery List</title>
    <meta charset="UTF-8">
    {{!-- import jQuery --}}
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>